<div class="leading">
  <h1>Telegram bot for tweeting only</h1>
  <p>/z to delete your latest tweet</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Supported</h4>
    <ul>
      <li>
        Text
      </li>
      <li>
        Photo, with or without caption
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h4>Not Supported</h4>
    <ul>
      <li>
        Video
      </li>
      <li>
        Album
      </li>
    </ul>
  </div>
</div>
